/*页面内容*/
#content{
	width: 900px;
	margin: auto;
	background-image: url(../images/list/list_bg.png);
	background-repeat: no-repeat;
}
.list{
	margin: auto;
	width: 900px;
	height: 2400px;
}
.list_top{
	margin: auto;
	height: 70px;
	width: 200px;
}
.list_top p{
	padding-top: 20px;
	font-size: 30px;
	color: #34c3ff;
}
.list_content{
	margin: auto;
	margin-top: 10px;	
	width: 700px;
}


.list_content p{
	text-indent: 2em;
	line-height: 25px;
}
.list_content h2{
	font-size: normal; 
	border-left: 4px solid #78cff3;
	background-color: #e6fdfe;
}
.span1{
	color: #00b4ff;
}
.span2{
	color: #ae27c0;
}

.comment{
	margin: auto;
	width: 720px;
	border: 7px #78cff3 solid;
}
.cm_top{
	margin: auto;
	height: 40px;
	background-color: #24b2d8;
}
.cm_top p{
	padding-top: 7px;
	font-size: 20px;
}
.cm_bd ul li{
	margin-top: 10px;
}
.cm_bd_list{
	background-color: #e6fdfe;
	margin: auto;
	width: 700px;
	height: 100px;
	border: 4px #78cff3 solid;
}
.cm_bd_list p{
	padding-left: 10px;
}
.cm_self{
	margin: 10px;
	margin-top: 20px;
	height: 300px;
	border: 1px #070707 solid;
}
.cm_self_top{
	width: 200px;
}
.cm_self_top p{
	font-size: 20px;
	padding-top: 10px;
	padding-left: 10px;
	float: left;
}

.fenxiang{
	margin: auto;
	margin-top: 10px;
	float: right;
	width: 500px; 
	height: 36px;
}
.lianjie{
	margin: auto;
	width: 80px;
	float: right;
}
.cm_self_bd{
	margin: auto;
	margin-left: 20px;
	margin-top: 20px;
}
.cm_self_bd textarea{
	margin: auto;
	width: 660px;
	height: 220px;
	padding-left: 10px;
	font-size: 15px;
}
.cm_self_ft input{
	width: 50px;
	float: right;
	background-color: #e6fdfe
}











