#content{
    margin: auto;
    width: 958px;
}
.content{
    margin-left: 12px;
    float: left;
}
.content_box{
	width: 302px;
	margin-top: 35px;
	background-image: url(../images/role/role.jpg);
	background-repeat: no-repeat;
}
.content_box h3{
	width: 165px;
    height: 31px;
    margin-left: 37px;
    font-size: 23px;
    color: #FFF;
    line-height: 31px;
    text-align: center;
}
.box_content{
    height: 400px;
	width: 300px;
    margin-top: 9px;
    border: 1px solid #ddd;
    background-color: #40b0d0;
    overflow: auto;
    /*opacity:0.7;
    filter:alpha(opacity=70); /* 针对 IE8 以及更早的版本 */
*/
}
.box_content_left p{
    margin: 5px auto auto 12px;
    line-height: 30px;
    text-indent:2em;
    color: #FFF;
    font-size: 20px;
}

